*
!.gitignore
!Lab1
!Lab2
!Lab3
!Lab4
!Lab5
!Lab6
!Gadelshin_lab2
!Gadelshin_lab3
!*.cpp
!*.h
!*.cs
!Gadelshin_lab4
!Gadelshin_lab5
!Gadelshin_lab6
!*StaffClasses
!NegrobovVALAB6
!*.def
!*SSSClasses
!StaffEditor
!*.sln
